In [34]:
import pandas as pd
import numpy as np

In [41]:
df = pd.read_pickle("btc.pickle")

In [42]:
# df1 = pd.DataFrame(df,index=pd.date_range(start='2016-07-01',end='2019-01-31',  freq='M'),columns=['hashrate','price'])

In [43]:
df2 = df[['price','hashrate']]
df_ewm = pd.DataFrame(df2.ewm(com=.5,min_periods=7).mean(),index=pd.date_range(start='2016-06-01',end='2019-02-01',  freq='M'))
df_pct_change = df_ewm.pct_change()[1:]

In [44]:
# df_pct_change = df1.pct_change()

In [45]:
df_pct_change['price'] = df_pct_change['price'].apply(lambda x:x+1)
df_pct_change['hashrate'] = df_pct_change['hashrate'].apply(lambda x:x+1)



df_pct_change['price_change / hashrate_change'] = df_pct_change['price'] / df_pct_change['hashrate']

In [46]:
df_pct_change

               price  hashrate  price_change / hashrate_change
2016-07-31  0.993511  0.935259                        1.062284
2016-08-31  0.894966  1.100886                        0.812950
2016-09-30  1.051983  1.059128                        0.993254
2016-10-31  1.157340  1.210334                        0.956216
2016-11-30  1.051451  1.015322                        1.035585
2016-12-31  1.294330  1.198935                        1.079566
2017-01-31  0.976460  1.180387                        0.827236
2017-02-28  1.273606  1.144190                        1.113107
2017-03-31  0.886175  1.079164                        0.821168
2017-04-30  1.271178  1.126460                        1.128472
2017-05-31  1.675525  1.239496                        1.351779
2017-06-30  1.126202  0.947156                        1.189035
2017-07-31  1.090786  1.314527                        0.829793
2017-08-31  1.684943  1.099313                        1.532724
2017-09-30  0.916588  1.313127                        0.698019
2017-10-31  1.454930  1.162480                        1.251574
2017-11-30  1.631396  1.059009                        1.540494
2017-12-31  1.341707  1.319840                        1.016568
2018-01-31  0.772381  1.282527                        0.602234
2018-02-28  1.008095  1.275681                        0.790241
2018-03-31  0.672414  1.039425                        0.646910
2018-04-30  1.315830  1.169153                        1.125456
2018-05-31  0.803665  1.199528                        0.669984
2018-06-30  0.836180  1.040605                        0.803552
2018-07-31  1.279757  1.153691                        1.109272
2018-08-31  0.872673  1.161975                        0.751026
2018-09-30  0.945152  1.107776                        0.853198
2018-10-31  0.960498  1.009974                        0.951013
2018-11-30  0.654237  0.642605                        1.018101
2018-12-31  0.920142  1.209453                        0.760792
2019-01-31  0.906330  0.955699                        0.948342

# Monthly Average Hashrate Change

In [47]:
np.average(df_pct_change['hashrate'].values)

1.1210678657676594

In [48]:
np.average(df_pct_change['price'].values)

1.08775587018978

# Monthly Average Price Change / Hashrate Change

In [50]:
np.average(df_pct_change['price_change / hashrate_change'])

0.9764498735946626

# Count Where Price Change Greater Than 1

In [51]:
df_pct_change['price_change_positive'] = df_pct_change['price'] >= 1

In [52]:
sum(df_pct_change['price_change_positive'])

16

In [53]:
len(df_pct_change['price_change_positive'])

31

# Monthly Average Price Change / Hashrate Change .... where price change is positive

In [54]:
np.average(df_pct_change.loc[(df_pct_change['price'] >= 1)]['price_change / hashrate_change'].values)

1.1276960555505924

# Monthly Average Price Change / Hashrate Change .... where price change is negative

In [55]:
np.average(df_pct_change.loc[(df_pct_change['price'] <= 1)]['price_change / hashrate_change'].values)

0.8151206128416707

# Weighted Average

In [56]:
((1.127*(16/31))+(.815*(15/31)))

0.9760322580645162